@using CadeMeuPet.Models
@model List<Animal>

@{
    List<Tipo> listarTipo = ViewBag.Tipo;
}

@*<div class="btn-group btn-group-toggle" data-toggle="buttons">

    </div>*@


<div>
    @foreach (Tipo tipos in listarTipo)
    {
        @Html.ActionLink(tipos.Especie, "Index", "Home", new { id = tipos.TipoId }, new { @class = "btn btn-secondary", @style = "display: inline" })
    }
</div>
<div class="row" style="-ms-grid-column-align: center;">
    @if (Model != null)
    {


        foreach (Animal animais in Model)
        {
            if (animais.Situacao != 1)
            {
                <div class="card mb-3">
                    <div><b>@animais.NomeAnimal</b></div>
                    <div class="card bg-light mb-3" style="max-width: 25rem; display: block">
                        <img id="fotoAnimal" src="~/Images/@animais.Imagem" /><br />
                    </div>

                    <ul class="list-group list-group-flush" style="align-self: center">
                        <li class="list-group-item">
                            <b id=Data style="margin-right: 2px; font-size: 12px;">@animais.DataCadastro.ToShortDateString()</b>
                            <a href='@Url.Action("DetalhesAnimal", "Home", new { id = animais.AnimalId })'><img style="width: 85px" src="~/Content/img/detalhes.png" /></a>
                        </li>
                    </ul>
                </div>
            }
        }
    }
</div>

<script>
    $('#Data').val(dataAtualFormatada);
    function dataAtualFormatada() {
        var data = new Date();
        var dia = data.getDate();
        if (dia.toString().length == 1)
            dia = "0" + dia;
        var mes = data.getMonth() + 1;
        if (mes.toString().length == 1)
            mes = "0" + mes;
        var ano = data.getFullYear();
        return dia + "/" + mes + "/" + ano;
    }
</script>

