@using CadeMeuPet.Models
@model List<Animal>

@{
   
}

@*<div class="btn-group btn-group-toggle" data-toggle="buttons">

</div>*@

<div class="row" style="-ms-grid-column-align: center ">
    @if(Model != null){


    foreach (Animal animais in Model)
    {
        <div class="card border-primary mb-3" style="max-width: 30rem; text-align: center; margin-left: 20px; margin-top: 20px">
            <div class="card-header"><b>@animais.NomeAnimal</b></div>

            <img src="~/Images/@animais.Imagem" style="width: 220px; height: 220px; align-self: center" /><br />


            <ul class="list-group list-group-flush" style="align-self: center">
                <li class="list-group-item">
                    <b>@animais.DataCadastro</b>
                    <a href='@Url.Action("DetalhePostagem", "Home", new { id = animais.AnimalId })'>Detalhes da Postagem</a>
                </li>
            </ul>
        </div>
      }
    }
</div>