<?xml version="1.0" encoding="utf-8"?>
<!--
Esse arquivo é usado pelo processo de publicação/pacote do seu projeto Web. É possível personalizar o comportamento deste processo
ao editar este arquivo MSBuild. Para saber mais sobre isso, visite https://go.microsoft.com/fwlink/?LinkID=208121. 
-->
<Project ToolsVersion="4.0" xmlns="http://schemas.microsoft.com/developer/msbuild/2003">
  <PropertyGroup>
    <WebPublishMethod>MSDeploy</WebPublishMethod>
    <ResourceId>/subscriptions/d1c2f538-3472-4d55-9b2a-c7250184a669/resourceGroups/RecursosCadeMeuPet/providers/Microsoft.Web/sites/CadeMeuPet</ResourceId>
    <ResourceGroup>RecursosCadeMeuPet</ResourceGroup>
    <PublishProvider>AzureWebSite</PublishProvider>
    <LastUsedBuildConfiguration>Release</LastUsedBuildConfiguration>
    <LastUsedPlatform>Any CPU</LastUsedPlatform>
    <SiteUrlToLaunchAfterPublish>http://cademeupet.azurewebsites.net</SiteUrlToLaunchAfterPublish>
    <LaunchSiteAfterPublish>True</LaunchSiteAfterPublish>
    <ExcludeApp_Data>False</ExcludeApp_Data>
    <MSDeployServiceURL>cademeupet.scm.azurewebsites.net:443</MSDeployServiceURL>
    <DeployIisAppPath>CadeMeuPet</DeployIisAppPath>
    <RemoteSitePhysicalPath />
    <SkipExtraFilesOnServer>True</SkipExtraFilesOnServer>
    <MSDeployPublishMethod>WMSVC</MSDeployPublishMethod>
    <EnableMSDeployBackup>True</EnableMSDeployBackup>
    <UserName>$CadeMeuPet</UserName>
    <_SavePWD>True</_SavePWD>
    <_DestinationType>AzureWebSite</_DestinationType>
    <PublishDatabaseSettings>
      <Objects xmlns="">
        <ObjectGroup Name="CadeMeuPet.Models.Context" Order="1" Enabled="True">
          <Destination Path="Data Source=tcp:cademeupetdbserver.database.windows.net,1433;Initial Catalog=CadeMeuPet_db;User ID=raphaelsantana@cademeupetdbserver;Password=7427841Kb" Name="Data Source=tcp:cademeupetdbserver.database.windows.net,1433;Initial Catalog=CadeMeuPet_db;User Id=raphaelsantana@cademeupetdbserver;Password=7427841Kb" />
          <Object Type="DbCodeFirst">
            <Source Path="DBMigration" DbContext="CadeMeuPet.Models.Context, CadeMeuPet" MigrationConfiguration="CadeMeuPet.Migrations.Configuration, CadeMeuPet" />
          </Object>
        </ObjectGroup>
      </Objects>
    </PublishDatabaseSettings>
  </PropertyGroup>
  <ItemGroup>
    <MSDeployParameterValue Include="CadeMeuPet.Models.Context-Web.config Connection String">
      <ParameterValue>Data Source=tcp:cademeupetdbserver.database.windows.net,1433;Initial Catalog=CadeMeuPet_db;User Id=raphaelsantana@cademeupetdbserver;Password=7427841Kb</ParameterValue>
    </MSDeployParameterValue>
  </ItemGroup>
  <ItemGroup>
    <_ConnectionStringsToInsert Include="CadeMeuPet.Models.Context" />
  </ItemGroup>
</Project>