@using CadeMeuPet.Models
@model List<Tipo>

@{
    ViewBag.Title = "Tipos Index";
}


<hr />

<div>
    <table class="table table-hover">
            <tr class="table-secondary">
                <th scope="col">Espécie/Tipo/Raça</th>
                <th scope="col">Editar</th>
                <th scope="col">Remover</th>
            </tr>
 
                @foreach (Tipo tipos in Model)
                {
                    <tr class="table-primary">
                    <td>@tipos.Especie</td>
                    <td>@Html.ActionLink("Alterar", "AlterarTipo", "Tipo", new { id = tipos.TipoId }, new { @class = "btn btn-primary" })</td>
                    <td>@Html.ActionLink("Remover", "RemoverTipo", "Tipo", new { id = tipos.TipoId }, new { @class = "btn btn-primary" })</td>
                    </tr>
                }

    </table>
    @Html.ActionLink("Cadastrar", "CadastrarTipo", "Tipo", null, new { @class = "btn btn-success" })
</div>

